In [1]:
import yfinance as yf

In [4]:
yf.download("HALKB.IS" , progress=False)

Price       Adj Close      Close       High        Low       Open    Volume
Ticker       HALKB.IS   HALKB.IS   HALKB.IS   HALKB.IS   HALKB.IS  HALKB.IS
Date
2007-05-11   5.477515   8.950000   9.050000   8.600000   8.750000  26652488
2007-05-14   5.385714   8.800000   9.100000   8.750000   9.000000   9563878
2007-05-15   5.293911   8.650000   8.800000   8.600000   8.700000   6486769
2007-05-16   5.293911   8.650000   8.850000   8.550000   8.600000   6416917
2007-05-17   5.385714   8.800000   8.850000   8.750000   8.800000   2759905
...               ...        ...        ...        ...        ...       ...
2024-11-25  16.209999  16.209999  16.660000  16.170000  16.530001  45211943
2024-11-26  16.209999  16.209999  16.450001  16.100000  16.180000  36264818
2024-11-27  16.299999  16.299999  16.950001  16.250000  16.590000  54816314
2024-11-28  16.200001  16.200001  16.360001  16.120001  16.270000  30748142
2024-11-29  16.250000  16.250000  16.389999  16.049999  16.219999  37325813

[4503 rows x 6 columns]