In [1]:
import pandas as pd
from warnings import filterwarnings
filterwarnings("ignore")
from sqlalchemy import create_engine
from arch import arch_model
from assets.GARCHModel import GarchModel
from assets.PostgresManager import PostgresModel
from assets.LSTMModeller import LSTMModeller
from assets.QueryManager import QueryModel
from assets.Statics import Stock_Stats
from assets.SARIMAModel import ARIMAModel
from assets.LYAPONOVModel import LyapunovModel

2024-12-21 23:52:57.140190: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-12-21 23:52:57.142208: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-12-21 23:52:57.147035: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-12-21 23:52:57.155436: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1734814377.172260   21697 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1734814377.176092   21697 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-12-21 23:52:57.195177: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
df = pd.read_sql_query('SELECT * FROM bistall."ARSAN"', PostgresModel().engine)
df.set_index("Date").to_period("M").groupby("Date").max()

              Open       High        Low      Close  Adj Close   Volume
Date
2000-05  11.527777  11.527777  10.833333  10.833333  10.420101    44349
2000-06   0.255694   0.255694   0.242909   0.250580   0.241022   469974
2000-07   0.237796   0.237796   0.222454   0.225011   0.216428   291148
2000-08   0.204555   0.204555   0.191770   0.196884   0.189374   504429
2000-09   0.201998   0.201998   0.186657   0.194327   0.186915   725376
...            ...        ...        ...        ...        ...      ...
2024-08  22.260000  22.700001  22.240000  22.360001  22.360001  3198000
2024-09  23.500000  23.600000  22.660000  23.320000  23.320000  4462388
2024-10  24.320000  24.360001  21.719999  22.180000  22.180000  6322056
2024-11  23.620001  24.000000  23.000000  23.620001  23.620001  5940069
2024-12  24.719999  24.900000  24.400000  24.639999  24.639999  2074982

[296 rows x 6 columns]

In [3]:
arsan_test = ARIMAModel(schema="bistall", table_name="ARSAN")

In [4]:
arsan_test.weekly_last_price

24.639999389648438

In [5]:
arsan_test.weekly_predicted_price

24.725315047347955

In [6]:
arsan_test2 = GarchModel(schema="bistall", table_name="ARSAN")

In [13]:
arsan_test2.monthly_last_price

24.639999389648438

In [7]:
arsan_test2.predicted_price

23.85002319733331

In [8]:
arsan_test3 = LyapunovModel(schema="bistall", table_name="ARSAN")

In [9]:
arsan_test3.predicted_price

23.872870567947533

In [10]:
arsan_test3.weekly_predicted_price

24.91513109464511

In [12]:
arsan_test3.monthly_predicted_price

25.677757569120566