In [3]:
import pandas as pd
from warnings import filterwarnings 
from sqlalchemy import create_engine
from arch import arch_model
from assets.GARCHModel import GarchModel
from assets.PostgresManager import PostgresModel
from assets.LSTMModeller import LSTMModeller
filterwarnings("ignore")

In [4]:
dbmodel = PostgresModel()

Schema 'logs' created or already exists.

In [16]:
tickers_df = pd.read_sql_query("SELECT * FROM tickers.bistall", dbmodel.engine)
tickers_df = tickers_df[tickers_df.IPODATE < '2023-01-01']
tickers_df

     STOCK     IPODATE
1    ACSEL  2012-07-06
2     ADEL  2000-05-10
3    ADESE  2011-11-03
5    AEFES  2000-05-10
6    AFYON  2000-05-10
..     ...         ...
570  YYAPI  2000-05-10
571  YYLGD  2022-05-20
572  ZEDUR  2011-02-11
573  ZOREN  2000-05-26
574  ZRGYO  2021-05-06

[481 rows x 2 columns]

In [ ]:
TICKER_list = []
LSTM_predicted = []
GARCH_predicted = []
LAST_price = []

for i in tickers_df["STOCK"].values:
    try:
        LSTM = LSTMModeller(schema="bistall",table_name=i)
        GARCH = GarchModel(schema="bistall",table_name=i)
        LSTM_predicted.append(LSTM.predicted_price)
        GARCH_predicted.append(GARCH.predicted_price)
        LAST_price.append(LSTM.last_price)
        TICKER_list.append(i)
    except Exception as e:
        print(i , e)

Schema 'logs' created or already exists.
6264/6264 - 78s - 12ms/step - loss: 0.0011
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 234ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step
Schema 'logs' created or already exists.
Schema 'logs' created or already exists.