In [1]:
import pandas as pd
import yfinance as yf
from warnings import filterwarnings 
from sqlalchemy import create_engine
from arch import arch_model
from assets.GARCHModel import GarchModel
from assets.PostgresManager import PostgresModel
from assets.LSTMModeller import LSTMModeller
filterwarnings("ignore")

In [2]:
dbmodel = PostgresModel()

Schema 'logs' created or already exists.

In [13]:
target_tickers = ["ARSAN","BRKO","KONTR","HKTM","AKFYE","AEFES","MGROS","YKBNK","CCOLA"]

In [17]:
tickers_df = pd.read_sql_query("SELECT * FROM tickers.bistall", dbmodel.engine)
tickers_df = tickers_df[tickers_df.IPODATE < '2023-01-01']
tickers_df = tickers_df[tickers_df.STOCK.isin(target_tickers)]
tickers_df

     STOCK     IPODATE
5    AEFES  2000-05-10
45   ARSAN  2000-05-10
99    BRKO  2010-02-22
116  CCOLA  2000-05-10
246   HKTM  2022-08-18
318  KONTR  2020-10-19
373  MGROS  2000-05-10
566  YKBNK  2000-05-10

In [ ]:
TICKER_list = []
LSTM_predicted = []
GARCH_predicted = []
LAST_price = []

for i in tickers_df["STOCK"].values:
    try:
        LSTM = LSTMModeller(schema="bistall",table_name=i)
        GARCH = GarchModel(schema="bistall",table_name=i)
        LSTM_predicted.append(LSTM.predicted_price)
        GARCH_predicted.append(GARCH.predicted_price)
        LAST_price.append(LSTM.last_price)
        TICKER_list.append(i)
    except Exception as e:
        print(i , e)

Schema 'logs' created or already exists.
6264/6264 - 78s - 12ms/step - loss: 0.0011
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 234ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step
Schema 'logs' created or already exists.
Schema 'logs' created or already exists.